In [3]:
import pandas as pd 
from datetime import datetime
from __future__ import with_statement                                                            
import contextlib 
try: 
    from urllib.parse import urlencode           
except ImportError: 
    from urllib import urlencode 
try: 
    from urllib.request import urlopen 
except ImportError: 
    from urllib2 import urlopen  
import sys 

import random 
import tweepy
import json
import numpy as np
#I am the RDR Spinny Boi
#First, import all the libraries

In [4]:
%store -r CONSUMER_KEY
%store -r CONSUMER_SECRET
%store -r ACCESS_TOKEN
%store -r ACCESS_TOKEN_SECRET 

# Authenticate to Twitter
import tweepy
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

# Create API object
api = tweepy.API(auth)

In [40]:
#Get the data set

def get_recommendations(url, columns):
    df = pd.read_csv(url, header=None, names=columns)
#add tiny links
    def make_tiny(urllist):
        tinycolumn = []
        for url in urllist:
            tinycolumn.append(tiny(url))
        df['Tiny']= tinycolumn
  
    def tiny(url): 
        request_url = ('http://tinyurl.com/api-create.php?' + urlencode({'url':url}))     
        with contextlib.closing(urlopen(request_url)) as response:                       
            return response.read().decode('utf-8 ')                                       


    make_tiny(df['Link'])
    #print(df.head())
    #Spin the wheel
    return df


    
spinnydf =get_recommendations("https://docs.google.com/spreadsheets/d/e/2PACX-1vTWc2VxHamAlR4RQK2GiDg6eVGiWa-azbIssCeSwxMnOOuqv200oZoIgxF4LWcAWHOAVBugXLUbQx9E/pub?output=csv", ['Title', 'Genre', 'Genre Number', 'Link'])

In [115]:
def spinthewheel(df):
    spin = random.randint(1,12)
    spin2 = random.randint(0,len(df[df['Genre Number']==spin]))
    #print(spin)
    #fix that it gives you a random link and not the same link as the show 
    winner = df[df['Genre Number']==spin].iloc[spin2]
    winner['Title'] = winner['Title'].title()
    winner['Genre'] =winner['Genre'].title()
    #print(winner)
    #print("-------------")
    #print("You got " + winnerGenre)
    #print("Why not try "+ winnerTitle)
    #print("Found at: "+ winnerTiny )
    return winner
    
    

#Win = spinthewheel(spinnydf)
#print(Win)

Title                           Greater Boston
Genre                       Intimate Realities
Genre Number                                 4
Link            https://greaterbostonshow.com/
Tiny               http://tinyurl.com/yda7du6s
Name: 24, dtype: object

In [106]:
#get last x mentions
#def get_mentions(x):
#result_list = api.mentions_timeline(count=x)
#status = result_list[0]
# json_str = json.dumps(status._json)
#  json =json.loads(json_str)
#   twitteruser = json['user']['screen_name']
#    twitteruser

In [43]:
Tweets = pd.DataFrame()
Tweets

Empty DataFrame
Columns: []
Index: []

In [81]:


def get_mentions(x):
    df =  pd.DataFrame(columns=['Tweet ID', 'User', 'Created At', 'Text'])
    result_list = api.mentions_timeline(count=x)
    for i in range(len(result_list)):
        status = result_list[i]
        #print(i)
    #print(status)
        json_str = json.dumps(status._json)
        text =json.loads(json_str)
    #print(text)
        twitteruser = text['user']['screen_name']
        tweetid = text['id']
        tweettime = text['created_at']
        tweettext = text['text']
        #don't print, make a dataframe indexed on tweet id 
        #print(twitteruser, tweetid, tweettime, tweettext)
        data = {'Tweet ID':tweetid, 'User': twitteruser, 'Created At':tweettime, 'Text':tweettext}
        df = df.append(data, ignore_index=True)
        
    return df

#now = get_mentions(10)
#now

,Tweet ID,User,Created At,Text
0,1194136096424071168,eleglac,Tue Nov 12 06:13:26 +0000 2019,@millioninprizes the last one had a beautiful ...
1,1194134502626357250,eleglac,Tue Nov 12 06:07:06 +0000 2019,@millioninprizes gimme some podcast magic
2,1191864428850892800,ShoMarq,Tue Nov 05 23:46:38 +0000 2019,@millioninprizes let's play this game/test
3,1191814895060344832,icarusfloats,Tue Nov 05 20:29:48 +0000 2019,"@millioninprizes so cool! Well done, Heather! ..."
4,1191812192045273088,icarusfloats,Tue Nov 05 20:19:04 +0000 2019,@millioninprizes wowy wow wow it works!
5,1191799378949922816,icarusfloats,Tue Nov 05 19:28:09 +0000 2019,"@millioninprizes Hello, wonderful spinny boi! ..."
6,1191785621347610629,icarusfloats,Tue Nov 05 18:33:29 +0000 2019,@millioninprizes what happens if I send a test...
7,1191785157218521092,grittygremlin,Tue Nov 05 18:31:38 +0000 2019,@millioninprizes
8,1189994649500422145,AmazonHelp,Thu Oct 31 19:56:48 +0000 2019,@millioninprizes We definitely understand your...

In [83]:

#history =pd.read_csv('history.csv')
#print(now)

#new = np.setdiff1d(now['Tweet ID'],history['Tweet ID'])
#print(new)
#not_replied_to = now[now['Tweet ID'].isin(new)]
#print(not_replied_to)

              Tweet ID           User                      Created At  \
0  1194136096424071168        eleglac  Tue Nov 12 06:13:26 +0000 2019
1  1194134502626357250        eleglac  Tue Nov 12 06:07:06 +0000 2019
2  1191864428850892800        ShoMarq  Tue Nov 05 23:46:38 +0000 2019
3  1191814895060344832   icarusfloats  Tue Nov 05 20:29:48 +0000 2019
4  1191812192045273088   icarusfloats  Tue Nov 05 20:19:04 +0000 2019
5  1191799378949922816   icarusfloats  Tue Nov 05 19:28:09 +0000 2019
6  1191785621347610629   icarusfloats  Tue Nov 05 18:33:29 +0000 2019
7  1191785157218521092  grittygremlin  Tue Nov 05 18:31:38 +0000 2019
8  1189994649500422145     AmazonHelp  Thu Oct 31 19:56:48 +0000 2019

                                                Text
0  @millioninprizes the last one had a beautiful ...
1          @millioninprizes gimme some podcast magic
2         @millioninprizes let's play this game/test
3  @millioninprizes so cool! Well done, Heather! ...
4            @millioninprizes wowy wow wow it works!
5  @millioninprizes Hello, wonderful spinny boi! ...
6  @millioninprizes what happens if I send a test...
7                                   @millioninprizes
8  @millioninprizes We definitely understand your...
[]
Empty DataFrame
Columns: [Tweet ID, User, Created At, Text]
Index: []

In [92]:
def reply_and_update(Win, history, now, new, not_replied_to):
    if len(not_replied_to) > 0:
        for thing in range(len(not_replied_to)):
            print("I am responding to "+ str(thing+1)+ " tweet")
            print(not_replied_to)
            api.update_status("@"+not_replied_to['User'][thing]+ " You got " + Win['Genre'] +". Why not try out "+ Win['Title']+ "? They can be found at: " + Win['Tiny'], not_replied_to['Tweet ID'][thing])
            history = history.append(not_replied_to, ignore_index=True)
            history.loc[history['Tweet ID'] ==not_replied_to['Tweet ID'][thing] , 'Responded'] = 'Yes'
            history.to_csv('history.csv')
    else:
        print("Nothing to tweet")

In [96]:
def do_the_thing():
    spinnydf =get_recommendations("https://docs.google.com/spreadsheets/d/e/2PACX-1vTWc2VxHamAlR4RQK2GiDg6eVGiWa-azbIssCeSwxMnOOuqv200oZoIgxF4LWcAWHOAVBugXLUbQx9E/pub?output=csv", ['Title', 'Genre', 'Genre Number', 'Link'])
    #print(spinnydf)
    Win2 = spinthewheel(spinnydf)
    print("The winner is:")
    print(Win2)
    Tweets = pd.DataFrame()
    now = get_mentions(50)
    history =pd.read_csv('history.csv')
    new = np.setdiff1d(now['Tweet ID'],history['Tweet ID'])
    not_replied_to = now[now['Tweet ID'].isin(new)]
    #print(not_replied_to)
    history2 =pd.read_csv('history.csv')
    #print(history)

    reply_and_update(Win2,history2, now, new, not_replied_to)

In [116]:
do_the_thing()

The winner is:
Title                      The Alexandria Archives
Genre                                       Comedy
Genre Number                                     1
Link            http://www.alexandriaarchives.com/
Tiny                   http://tinyurl.com/y2b239tt
Name: 86, dtype: object
Nothing to tweet